<% include ../partials/header %>

<div class="row">
    <div class="col-md-4">
        <h1><%= user.firstName + " " + user.lastName %></h1>
        <div class="thumbnail">
        <img class="img-responsive" src="<%= user.avatar %>" alt="user profile image">
        <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
        </div>
        Mauris imperdiet tincidunt mi id vulputate. 
        Donec sit amet turpis a libero luctus cursus eget et ex. Etiam et lacinia magna. 
        Aliquam consequat tempor mauris eu ultricies. Sed fermentum, mauris id suscipit 
        lobortis, sapien mauris condimentum urna, in ornare sapien tellus at ligula. 
        Fusce sed lorem euismod lorem consequat rhoncus quis non dui. Donec ultrices rhoncus suscipit. 
        In eget libero elementum, eleifend nisi ut, iaculis justo. Fusce nunc risus, 
        mollis eu turpis eu, elementum vehicula velit.
    </div>
    <div class="col-md-4">
        <h3><%= user.username %>'s campgrounds</h3>
        <ul>
        <% campgrounds.forEach(function(campground){ %>
            <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
        <% }); %>
        </ul>
    </div>
</div>





<% include ../partials/footer %>